footer {
	text-align: right;
	font-size: smaller;
	margin: 10px;
}


/* Commutes screen */

.commute,
.commute-add {
	border-bottom: thin grey solid;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}

.commute:hover,
.commute-add:hover {
	font-weight: bold;
}

.commute-add {
	text-align: right;
}


/* Routes screen */

.route,
.route-add {
	border-bottom: thin grey solid;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}

.route:hover,
.route-add:hover {
	font-weight: bold;
}

.route-add {
	text-align: right;
}

.route-time {
	float: right;
}


/* Route screen */

.start-timer {
	text-transform: uppercase;
	text-align: center;
	border: thin #EB2 solid;
	background-color: #FC3;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}

.start-timer:hover {
	font-weight: bold;
}


/* Timer screen */

.stop-timer {
	text-transform: uppercase;
	text-align: center;
	border: thin #2B2 solid;
	background-color: #3C3;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}

.cancel-timer {
	display: inline-block;
	text-align: center;
	border: thin #E55 solid;
	background-color: #F66;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
}

.cancel-timer-container {
	text-align: right;
}

.stop-timer:hover,
.cancel-timer:hover {
	font-weight: bold;
}

.time {
	font-family: monospace;
	font-size: xx-large;
	text-align: center;
	font-weight: bold;
	padding: 10px;
}

.time-seconds {
	font-size: smaller;
	color: #333;
}