footer {
	text-align: right;
	font-size: smaller;
}


/* Commutes screen */

.commute,
.commute-add {
	border-bottom: thin grey solid;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}

.commute:hover,
.commute-add:hover {
	font-weight: bold;
}

.commute-add {
	text-align: right;
}


/* Routes screen */

.route,
.route-add {
	border-bottom: thin grey solid;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
}

.route:hover,
.route-add:hover {
	font-weight: bold;
}

.route-add {
	text-align: right;
}